<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <a>BAIRD ROUAN S. BUENAVENTURA</a>
            </div>
            <div>
                <a>PORTFOLIO WEBSITE</a>
            </div>
            <div>
                <p>Designed and built using .NET Core 8, Blazor WebAssembly, C#, HTML, CSS, and JavaScript.</p>
            </div>
            <div>
                <p>Copyright © 2025 Baird Rouan S. Buenaventura</p>
            </div>
            <div>
                <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                   href="mailto:bairdbuenaventura@gmail.com" target="_blank">Send Email to bairdbuenaventura@gmail.com</a>
            </div>
        </div>
        <div class="col">
            <div>
                <a>SITEMAP</a>
            </div>
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <a href="/hobbies">Hobbies</a>
            </div>
        </div>
        <div class="col">
            <div>
                <a>SOCIAL MEDIA & OTHER SITES</a>
            </div>
            <div>
                <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                   href="https://www.linkedin.com/in/baird-rouan-buenaventura-ab2375153/"
                   target="_blank">
                    <img height="25" alt="LinkedIn logo" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png"> LINKEDIN
                </a>
            </div>
            <div>
                <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                   href="https://github.com/bb554C"
                   target="_blank">
                    <img height="25" alt="Github Logo" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Github-desktop-logo-symbol.svg"> GITHUB
                </a>
            </div>
            <div>
                <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                   href="https://www.facebook.com/BairdBuenaventura"
                   target="_blank">
                    <img height="25" alt="Facebook Logo" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg"> FACEBOOK
                </a>
            </div>
            <div>
                <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                   href="https://www.instagram.com/bairdbuenaventura/"
                   target="_blank">
                    <img height="25" alt="Instagram Logo" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png"> INSTAGRAM
                </a>
            </div>

        </div>
    </div>
</div>

@code {

}
