@page "/hobbies"

<PageTitle>Hobbies</PageTitle>

<h3>Hobbies</h3>

<Tabs>
    <Tab Title="Travel" Active="true">
        <Content>
            <Travel_Photography />
        </Content>
    </Tab>
    <Tab Title="Photography">
        <Content>
            <Travel_Photography />
        </Content>
    </Tab>
</Tabs>


@code {

}
